<html>

<head>
    <title> {{ page_title }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Users/matti/Projects/collections/collectionsapp/static/styles.css">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <head>
        <title> {{ page_title }}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" type="text/css">>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    
    <body>
    
        <header>
            <div class="logo">
                 <a href="https://pro-area-305611.ey.r.appspot.com/">
                    <img border="0" alt="collections" src="https://i.imgur.com/cF5nhPF.png" width="213" height="27">
                </a>
            </div>
            <div class="search">
              Search
            </div>
            <nav>
                Submit Item
            </nav>
            <div class="account_login">
              Log in
              </div>
           <div class="account_register">
              Register
              </div>
        </header>
      
          <div class="header_line">
          </div>
    <main>
        {% block content%} {% endblock %}
    </main>
    <footer>
        <h3> <em> By Your Name Here </em></h3>
    </footer>
</body>
