<html>

<head>
    <title> {{ page_title }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="logo">
            <a href="https://pro-area-305611.ey.r.appspot.com/">
                <img border="0" alt="collections" src="https://i.imgur.com/cF5nhPF.png" width="213" height="27">
        </div>
        <div class="search">

        </div>
        <nav>
            Submit Item
        </nav>
        <div class="account">

        </div>
    </header>
    <main>
        {% block content%} {% endblock %}
    </main>
    <footer>
        <h3> <em> By Your Name Here </em></h3>
    </footer>
</body>
