{% extends "base.html" %}

{% block content %}
<body>
    <div>
      <p>
          Add Item
      </p>
    </div>  
    <div class="container">
        <div id="image_column">
          <img class="brandimage" src="https://cdn.glitch.com/24dd9f0b-8afe-4809-9f0a-7720552a637f%2F4158eaef-adec-4c2d-a1d1-a0769f45138a.image.png?v=1620061679115" alt="off-white-logo" width="600" height="600">
        </div>
        <div id="property1">
            <div class="profile_property">
              <p>
                Profile
              </p>
            </div>
        </div>
        <div id="content1">
          <div class="profile_content">
            <p>
              ...
            </p>
          </div>
       </div>
        <div id="property2">
          <div class="other_properties">
            <p>
              Founder
            </p>
          </div>
        </div>
        <div id="content2">
          <div class="founder_content">
            <p>
             ... 
            </p>
          </div>
        </div>
        <div id="property3">
          <div class="other_properties">
            <p>
              Established
            </p>
          </div>
        </div>
        <div id="content3">
          <div class="established_content">
            <p>
              ...
            </p>
          </div>
        </div>
        <div id="property4">
          <div class="other_properties">
            <p>
              Sites
            </p>
          </div>
        </div>
        <div id="content4">
          <div class="sites_content">
            <p>
              ...
            </p>
          </div>
        </div>
          <div id="placeholder1"></div>
          <div id="placeholder2"></div>
    </div>
</body>

{% endblock %}  