{% extends "base.html" %}

{% block content %}
<section>
  <div>
    <p>
      Brand Name
    </p>
  </div>  
  <div class="brand_container">
    <div id="brand_image_column">
        <img class="brand_image_content" src="" alt="off-white-logo" width="600" height="600">
    </div>
    <div id="brand_profile_property_cell">
      <div class="profile_cell_property_format">
        <p>
            Profile
        </p>
      </div>
    </div>
    <div id="brand_profile_content_cell">
      <div class="profile_content">
        <p>
        ...
        </p>
      </div>
    </div>
    <div id="brand_founder_property_cell">
      <div class="brand_property_cell_format">
        <p>
          Founder
        </p>
      </div>
    </div>
    <div id="brand_founder_content_cell">
      <div class="founder_content">
        <p>
         ... 
        </p>
      </div>
    </div>
    <div id="brand_established_property_cell">
      <div class="brand_property_cell_format">
        <p>
          Established
        </p>
      </div>
    </div>
    <div id="brand_established_content_cell">
      <div class="established_content">
        <p>
          ...
        </p>
      </div>
    </div>
    <div id="brand_sites_property_cell">
      <div class="brand_property_cell_format">
        <p>
          Sites
        </p>
      </div>
   </div>
   <div id="brand_sites_content_cell">
      <div class="sites_content">
        <p>
          ...
        </p>
     </div>
    </div>
    <div id="brand_placeholder1"></div>
     <div id="brand_placeholder2"></div>
  </div>
</section>
<section>
  <div>
    <p>
      Catalog
    </p>
  </div>  
  <div class="catalog">
	  <div id="catalog_legend">
			<div class="legend">Image</div>
			<div class="legend">Item Name</div>
			<div class="legend">Category</div>
			<div class="legend">Release Date</div>
			<div class="legend">Gender</div>
			<div class="legend">Collection</div>
		</div>
		<div id="catalog_image">
			<div class="catalog_image_content">
				...
			</div>
    </div>
		<div id="catalog_item_name">
			<div class="catalog_item_name_content">
				...
			</div>
    </div>
		<div id="catalog_category">
			<div class="catalog_category_content">
			  ...
			</div>
    </div>
		<div id="catalog_release_date">
			<div class="catalog_release_date_content">
				...
			</div>
    </div>
	  <div id="catalog_gender">
			<div class="catalog_gender_content">
				...
			</div>
    </div>
		<div id="catalog_collection">
			<div class="catalog_collection_content">
				...
			</div>
    </div>
  </div>
</section>
</html>
{% endblock %}  