{% extends "base.html" %}

{% block content %}
<section>
  <div>
    <p>
      Item Name
    </p>
  </div>  
  <div class="item_container">
    <div id="item_image_column">
      <div class="item_image_content">test</div>
    </div>
    <div id="item_description_property_cell">
      <div class="description_property_cell_format">
        <p>
          Description:
       </p>
      </div>
    </div>
    <div id="item_description_content_cell">
       <div class="description_content">
        <p>
          ...
       </p>
      </div>
    </div>
    <div id="item_brands_property_cell">
      <div class="item_property_cell_format">
        <p>
          Brands:
       </p>
      </div>
    </div>
    <div id="item_brands_content_cell">
      <div class="brands_content">
        <p>
         ... 
       </p>
      </div>
    </div>
    <div id="item_collection_property_cell">
      <div class="item_property_cell_format">
        <p>
          Collection:
       </p>
      </div>
    </div>
    <div id="item_collection_content_cell">
      <div class="collection_content">
        <p>
         ...
       </p>
        </div>
    </div>
    <div id="item_release_date_property_cell">
      <div class="item_property_cell_format">
        <p>
          Release Date:
       </p>
      </div>
    </div>
    <div id="item_release_date_content_cell">
      <div class="release_date_content">
        <p>
          ...
        </p>
      </div>
    </div>
    <div id="item_colors_property_cell">
      <div class="item_property_cell_format">
        <p>
          Colors:
        </p>
      </div>
    </div>
    <div id="item_colors_content_cell">
      <div class="colors_content">
        <p>
         ...
        </p>
      </div>
   </div>
   <div id="item_item_number_property_cell">
      <div class="item_property_cell_format">
        <p>
         Item Number:
        </p>
      </div>
   </div>
   <div id="item_item_number_content_cell">
      <div class="item_number_content">
        <p>
          ...
        </p>
      </div>
    </div>
    <div id="item_category_property_cell">
      <div class="item_property_cell_format">
        <p>
           Category:
        </p>
      </div>
    </div>
    <div id="item_category_content_cell">
      <div class="category_content">
        <p>
         ...
        </p>
      </div>
    </div>
    <div id="item_gender_property_cell">
      <div class="item_property_cell_format">
        <p>
           Gender:
        </p>
      </div>
    </div>
    <div id="item_gender_content_cell">
      <div class="gender_content">
        <p>
         ...
        </p>
      </div>
    </div>
      <div id="item_placeholder1"></div>
      <div id="item_placeholder2"></div>
  </div>
</section>
{% endblock %}  