body {
    font-family: roboto mono;
    margin-left: none;
    margin-top: none;
}

header {
    display: flex;
    background-color: white;
    margin: 0 200px;
    justify-content: center;
    align-items: center;
}



header div,
header nav {
    display: flex;
    border: 1px solid black;
    border-top-style: none;
    height: 80px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    border-right-style: none;
    border-bottom-style: none;
}

.logo {    
    flex-basis: 245px;
    border: 1px solid black;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.search {    
    flex-basis: 373px;
    border: 1px solid black;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.account_login {
    flex-basis: 132px;
    border: 1px solid black;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    color: red;
}

.account_register{
    flex-basis: 132px;
    border: 1px solid black;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
    color: blue;
}

.header_line{
    border: 1px solid black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
}

footer {
    margin-top: 5rem;
    text-align: center;
}

.button{
    color: antiquewhite;
    background-color:firebrick;
}