body {
    font-family: roboto mono;
    margin-left: 2rem;
}

header {
    border: 1px solid black;
    display: flex;
    margin: 0 200px;
}

header div,
header nav {
    border: 1px solid black;
    height: 80px;
}

.logo {
    flex-basis: 245px;
    border: 1px solid black;
}

.search { 
    flex-basis: 373px;
    border: 1px solid black;
}

.account {
    flex-basis: 265px;
    border: 1px solid black;
}

footer {
    margin-top: 5rem;
    text-align: center;
}

.button{
    color: antiquewhite;
    background-color:firebrick;
}